{% extends "movies/layout.html" %}
{% load static %}

{% block body %}

<h4>These are all the movies in our database!</h4>
<div class="movies">
    
    {% for movie in movies %}
    <a href="{% url 'movie' movie.movieID %}" class="movieContainer">
       <h4>{{ movie.title }}</h4> 
       <img src="{{ movie.poster }}" alt="{{movie.title}}">
       <p>{{movie.overview|truncatewords:20}} </p>   
        
    </a>
    {% endfor %}
   
</div>




{% endblock %}

{% block script %}
    <script src="{% static 'movies/app.js' %}"></script>
{% endblock %}