{% extends "movies/layout.html" %}
{% load static %}

{% block body %}

<div class="movieInfo">
<h4>Create personalized watchlists:</h4>

<div class="newlist">
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ listform.watchlist }}
    <button type="submit" value="Create">Create</button>
   </form>
</div>

<div class="listas">
    {% for watchlist in watchlists %}
        <ul>
           <a href="{% url 'watchlist' watchlist.id %}"> <li id="list-{{watchlist.id}}">{{ watchlist.watchlist }}<sup> {{ watchlist.movie.count }} movies </sup></li></a> <i id="deleteList-{{ watchlist.id }}" data-id="{{ watchlist.id }}" class="fas fa-trash delete"></i>
        </ul>
    {% endfor %}
</div>
</div>


{% endblock %}

{% block script %}

<script src="{% static 'movies/watchlist.js' %}"></script>


{% endblock %}